<template>
	<div id="app">
		<div class="page">
			<label>Recherche le nom d'une ville : </label>
			<input class="recherche" type="search" v-model="city">
			<div v-if="this.data" class="card">
				<div class="card-info">
					<time>{{ new Date().toLocaleString("fr-FR") }}</time>

					<h2>{{ this.data.name }}</h2>
					<h1 class="degre">{{ this.data.main.temp + "°C" }}</h1>
					<img class="logo" :src="`http://openweathermap.org/img/wn/${this.data.weather[0].icon}@4x.png`" :alt="this.data.weather[0].description">
					<h3>{{ "Ressentie : " + this.data.main.feels_like + "°C" }}</h3>
					<h3>{{ "Min : " + this.data.main.temp_min + "°C, Max : " + this.data.main.temp_max + "°C" }}</h3>
					<h3>{{ "Coordonnées : " + this.data.coord.lat + ", " + this.data.coord.lon }}</h3>



				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "App",
	data() {
		return {
			city: "Grenoble",
			data: null
		};
	},
	async created() {
		await this.fetchWeather();
	},
	methods: {
		async fetchWeather() {
			const response = await fetch(
				`http://api.openweathermap.org/data/2.5/weather?q=${this.city}&units=metric&appid=${`6416b75439a323a012e2a8b7d4fdea5c`
				}`
			);
			const json = await response.json();
			console.log(json);
			this.data = json;
		}
	},
	watch: {
		async city() {
			await this.fetchWeather();
		}
	}
};
</script>

<style lang="css">


html, body, #app {
	margin: 0;
	padding: 0;
	background: url("../src/assets/degrade.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Helvetica;
	text-align: center;
}



.card {
	display: flex;
	padding-top: 2em;
	background: #4a4a4a24;
	justify-content: center;
	font-size: 15px;
	color: #0e0e0e;
	width: 45%;
	border-radius: 10px;
	height: 500px;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	flex-direction: row;
}

.recherche {
	width: 250px;
	height: 30px;
	background: transparent;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black !important;
	padding-left: 10px;
	font-size: 15px;
}

.logo {
	width: 100px;
}

.card-icon {

	height: 100px;

}

.degre {
	font-size: 70px;
	margin-bottom: 0;
}
</style>